img{
    width: 99vw;
    height: 99vh;
    object-fit: cover;
}

.container {
    position: relative;
    text-align: center;
    color: white;
}

.topleft {
    position: absolute;
    top: 8px;
    left: 16px;
    font-size: xx-large;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: xxx-large;
    transform: translate(-50%, -50%);
}

.container-2{
    border: 3px solid lightgrey;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 23vh;
}

.box{
    width: 10rem;
    height: 10rem;
    background-color: gold;
    margin: 1rem;
}

.test{
    width: 10rem;
    height: 10rem;
}

.container-3{
    border: 3px solid blue;
    display: grid;
    height: 120vh;
    grid-template: repeat(3, 300px) / repeat(3, 300px);
    justify-content: center;
    align-content: center;

}

.boxes{
    background: gold;
    border: 2px solid red;
}

a{
    border: 2px solid black ;
    border-radius: 20px;
    padding: 18px;
    margin: 25px;
    text-align: center;
}

p{
    margin:75px;
    text-align: center;
}