h1{
    color: green;
    text-align: center;
    font-family: Arial, sans-serif;
    font-size: 36px;
}


h2{
    color: blue;
    text-align: center;
    font-family: Arial, sans-serif;
    font-size: 24px;
}


.links {
    display: block;
    padding: 0;
    text-align: center;
}