/* heading + navigation */

#container{
    width: 88em;
    height: 80px;
    border: 3px solid red;
    display: inline;
    text-align: end;
   
}

/* landing page */

.landing {
    width: 88em;
    height: 400px;
    border: 3px solid blue;
    text-align: center;
    background-color: aqua;
}

/* body */

.container {
    width: 88em;
    height: 150em;
    border: 3px solid green;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
}

.title { 
    text-align: center;
    width: 87.8em;
    height: 4em;
    border: 3px solid orange;
    text-align: center;
}

.box1, .box2, .box3,.box4 {
    width: 40em;
    height: 20em;
    border: 3px solid yellow;
}